:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #30b9dbaa);
}

.header {
  display: flex;
  place-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #378bba;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

label {
  display: block;
  align-self: start;
  font-weight: bold;
}

label > .example {
  font-weight: normal;
}

.topics {
  display: flex;
  flex-direction: column;
}

.topics > * {
  height: 2.5em;
}

.topics input {
  margin-right: 15px;
}

input[type='text'],input[type='email'] {
  width: 250px;
}

input[type='radio'],
input[type='checkbox'] {
  margin-left: 1em;
}

input:invalid:focus {
  box-shadow: unset;
}

input.checked:invalid {
  box-shadow: 0px 0px 2px 1px red;
}

input:invalid {
  box-shadow: 0px 0px 2px 1px red;
}

select.checked:invalid, select:invalid, .topics.invalid {
  box-shadow: 0px 0px 2px 1px red;
}

.schedule.invalid {
  box-shadow: 0px 0px 2px 2px red;
}

.schedule {
  display: grid;
  grid-template-columns: auto repeat(7, 1fr);
  border-top: 1px solid white;
  border-left: 1px solid white;
}

.schedule > * {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  width: 100%;
  text-align: center;
}

.schedule > .header > span {
  padding: 0px 10px;
}

.schedule > .header {
  justify-self: center;
}

.schedule > * > input {
  margin: 0
}

.time {
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
  grid-gap: 3px;
}

.time > span {
  justify-self: center;
}

button[type='submit'] {
  align-self: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #4867ff;
  }
  button {
    background-color: #e3e3e3;
  }

  .logo:hover {
    filter: drop-shadow(0 0 2em #378bbaaa);
  }

  .schedule {
    border-top: 1px solid black;
    border-left: 1px solid black;
  }

  .schedule > * {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
}

.req {
  color: hsl(0, 100%, 40%);
}
